
.search-container {
  width: 30vw;
  margin: 5vh auto;
  border: 0.1vw black solid;
  padding: 2vw;
  background-color: bisque;
}
label {
  font-size: 3vw;
  margin-left: 7vw;
  color: blue;
}
.input-search{
  margin-left: 7vw;
  margin-right: 1vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
/* .search-result{
  margin-left: 4vw;
} */
.search-result-place{
  border: 0.1vw black solid;
  width: 18vw;
  margin-left: 4vw;
  padding-left: 2vw;
}
li{
  list-style-type: none;
}
button{
  margin-right: 1vw;
}
.add-places-btn{
  margin-left: 7vw;
  margin-top: 2vh;

}

.add-place-btn {
  background-color: #e74c3c;
  font-size: 1.5w;
  width: 7vw;
  height: 6vh;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.add-place-btn:hover {
  background-color: blue;
}
